
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<style type="text/css">
      .page-header {
        padding-bottom: 0;
      }  
      .nav-pills .nav-link{
          font-weight: bold;
          text-align: center;
          background: #159957;
          color: #fff;
          border-radius: 10px 10px 0 0;
          margin-right: 2px;
      }
      .nav-pills .nav-link.active{
        background: #fff;
        color: #000;
      }
</style>
{% assign url = page.url|remove:'.html' %}
{{url}}
<ul class="nav nav-pills" role="tablist">
      {% for link in site.navigation %}
      <li class="nav-item{% if url == link.url %} active{% endif %}">
        <a class="nav-link{% if url == link.url %} active{% endif %}" href="{{link.url}}" title="{{link.title}}">{{link.text}}</a>
      </li>
      {% endfor %}
</ul>
